# Assesment 1

Dataset:

https://github.com/TopsCode/Data_Analysis_2024/blob/main/ALL_CSV/banklist.
csv

1) Import pandas and read in the banklist.csv file into a dataframe called
banks.

In [ ]:
import pandas as pd
banks = pd.read_csv('/content/banklist.csv')

2) Show the head of the dataframe.

In [ ]:
# Show the first 5 rows of the dataframe
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

3) What are the column names?

In [ ]:
# Get the column names
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

4) How many States (ST) are represented in this data set?

In [ ]:
# Getting the number of unique states
num_states = banks['ST'].nunique()
num_states

44

5) Get a list or array of all the states in the data set.

In [ ]:
states = banks['ST'].unique()
states

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

6) What are the top 5 states with the most failed banks?

In [ ]:
top_5_states = banks['ST'].value_counts().head(5)
top_5_states

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

7) What are the top 5 acquiring institutions?

In [ ]:
top_5_acquirers = banks['Acquiring Institution'].value_counts().head(5)
top_5_acquirers

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

8) How many banks has the State Bank of Texas acquired? How many of
them were actually in Texas?

In [ ]:
# Number of banks acquired by the State Bank of Texas
num_acquired_by_sbt = banks[banks['Acquiring Institution'] == 'State Bank of Texas'].shape[0]

# Number of banks acquired by the State Bank of Texas in Texas
num_acquired_in_texas = banks[(banks['Acquiring Institution'] == 'State Bank of Texas') & (banks['ST'] == 'TX')].shape[0]

num_acquired_by_sbt, num_acquired_in_texas

(3, 1)

9) What is the most common city in California for a bank to fail in?

In [ ]:
# Get the most common city in California for a bank to fail
most_common_city_in_ca = banks[banks['ST'] == 'CA']['City'].value_counts().idxmax()
most_common_city_in_ca

'Los Angeles'

# Assesment 2

Dataset:

https://github.com/TopsCode/Data_Analysis_2024/blob/main/ALL_CSV/historical_autom
obile_sales.csv

Q 1: Develop a Line chart using the functionality of pandas to show how
automobile sales fluctuate from year to year.